[Unit]
Description=Node App to translate Slack messages from a chennel to annother

[Service]
# ExecStart= path/to/app/index.js
ExecStart=/usr/bin/node /home/admin/SlackAutoTranslate/index.js  
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
# WorkingDirectory=path/to/app/index.js
WorkingDirectory=/home/admin/SlackAutoTranslate

[Install]
WantedBy=multi-user.target
